@font-face {
  font-family: 'Rubik-regular';
  src: url(./fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'PTSans-regular';
  src: url(./fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: 'Raleway-regular';
  src: url(./fonts/Raleway-Regular.ttf);
}