html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

* {
  font-size: 18px;
  font-family: 'PTSans-regular', sans-serif;
  color: #333;
}

p {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

header {
  height: 100%;
  background-image: url(./img/bg1.png);
  background-position: cover;
  background-repeat: no-repeat;
  padding-bottom: 8rem;
}

nav {
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Rubik-regular', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 48px;
  text-align: center;
}

h3 {
  font-family: 'Rubik-regular', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 117, 140);
  margin: 0;
  text-align: center;
}

h4 {
  font-family: 'Raleway-regular', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

footer {
  background-color: #f23d5d;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  width: 55px;
  height: 30px;
}

.burger-menu {
  max-height: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.burger-line {
  height: 4px;
  width: 32px;
  background-color: black;
  margin: 4px;
}

.burger-menu:hover {
  background-color: #f23d5d;
}

.burger-link:hover {
  text-decoration: underline;
  color: orangered;
}

.header-wrapper {
  height: 100px;
  display: flex;
  gap: 1.2rem;
}

.header-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: black;
}

.header-link:hover {
  text-decoration: underline;
  color: orangered;
}

.landing-page {
  margin-top: 10rem;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

section.div .landing-page img {
  align-items: flex-start;
}

.header-sub-txt {
  font-weight: 200;
}

.header-button {
  padding: 20px 60px 20px 60px;
  margin-top: 30px;
  background-color: #f23d5d;
  box-shadow: 0px 1px 1px rgba(255, 0, 0, 0),
    0px 5px 4px rgba(255, 0, 0, 0.03),
    0px 12px 9px rgba(255, 0, 0, 0.05),
    0px 20px 15px rgba(255, 0, 0, 0.06),
    0px 32px 24px rgba(255, 0, 0, 0.08);
  border-width: 0;
  border-radius: 5px;
}

.button-txt {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.button-txt:hover {
  filter: drop-shadow(0px 0px 4px #ffcece);

}

.feature-section {
  background-color: rgb(201, 255, 250);
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.feature-details {
  margin-left: 4rem;
  margin-right: 6rem;
  display: flex;
  justify-content: space-between;
}

.feature-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feature-img {
  height: 100px;
  width: 100px;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 50px;
  margin-left: 8rem;
  margin-right: 8rem;
  gap: 50px;
}

.main-img {
  height: 100%;
  object-fit: cover;
}

.laptop-section {
  display: flex;
  background-color: #f7f7f7;
}

.guy-section {
  display: flex;
  flex-direction: row-reverse;
  background-color: #f7f7f7;
}

h2.main-txt {
  text-align: center;
}

p.main-txt {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 36px;
  font-weight: 300;
}

.location h2 {
  font-size: 88px;
  font-weight: 700;
}

.googlemaps {
  width: 100%;
  max-height: 350px;
}

.marker {
  height: 40px;
}

.address {
  margin-left: 8rem;
  gap: 2px;
  display: flex;
  align-items: center;
}

.address-txt {
  font-size: 24px;
  font-weight: 500;
}

.footer-txt-container {
  margin-left: 8rem;
}

.footer-links {
  display: flex;
  margin-right: 8rem;
  gap: 30px;
}

.socialmedia {
  width: 60px;
}

@media (max-width: 1469px) {
  .laptop-section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .guy-section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .main-img {
    max-height: 95%;
  }
}

@media(max-width: 1337px) {
  .landing-page {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 40px;
  }

  .header-button {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .headphone {
    transform: scaleX(-1);
  }
}

@media(max-width: 1199px) {
  .feature-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    padding-right: 0;
  }

  h2 {
    font-size: 32px;
  }

  p.main-txt {
    font-size: 24px;
  }

  .location h2 {
    font-size: 32px;
  }
}

@media(max-width: 870px) {
  .address {
    margin-left: 0;
    justify-content: center;
  }
}

@media(max-width: 650px) {
  h1 {
    font-size: 56px;
  }
}

@media(max-width: 739px) {
  .burger-menu {
    display: flex;
  }

  footer {
    flex-direction: column;
  }

  .footer-links {
    margin: 0;
  }

  .footer-txt-container {
    margin: 0;
  }

  .header-wrapper {
    display: none;
    position: absolute;
    top: 120px;
    right: 4px;
    background-color: rgba(201, 255, 250, 0.74);
    height: 350px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    padding-top: 24px;
  }

  .d-flex {
    display: flex;
  }

  .headphone {
    height: 99%;
    width: 99%;
  }

  .landing-page {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 22rem;
  }

  .main-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media(max-width: 590px) {
  .feature-alignment p {
    text-align: center;
  }
}